{% extends 'teachers/base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="col-5">
  <div class="alert alert-info  ms-4">
    {{ message }}
</div>
{% endfor %}

{% endif %}
<br><br>
<div class="row">
  <div class="col-lg-5">
    <div class="card ms-4" style="width: 24rem;">
        <div class="card-body">
          <p class="card-title">
          </p>
          <h3 class="card-text text-center">Do You Want to add more quizzes?</h3>
          <br>
          <h4 class="text-center">
          <a href="{% url 'teachers:quiz_add' %}" class="card-link" style="text-decoration: none;">Yes</a>
          <a href="{% url 'teachers:teacher_home' %}" class="card-link ms-5" style="text-decoration: none;">No</a>
          </h4>
        </div>
      </div>
  </div>
</div>
<br></br><br><br><br><br>
{% endblock %}