{% extends 'teachers/base.html' %}

{% load crispy_forms_tags crispy_forms_filters %}
{% load bootstrap %}

{% block content %}
  <h2 class="mb-3">{{ question.txt }}</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ formset.management_form }}
    {{ form.text|bootstrap_horizontal:'col-sm-2'}}
    <div class="card mt-2 mb-3{% if formset.errors %} border-danger{% endif %}">
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <strong>Choices</strong>
          </div>
          <div class="col-2">
            <strong>Correct?</strong>
          </div>
          <div class="col-2">
            <strong>Delete?</strong>
          </div>
        </div>
      </div>
      {% for error in formset.non_form_errors %}
        <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
      {% endfor %}
      <div class="list-group list-group-flush list-group-formset">
        {% for form in formset %}
          <div class="list-group-item">
            <div class="row">
              <div class="col-8">
                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                {{ form.text|bootstrap }}
                {% if form.instance.pk and form.text.value != form.instance.text %}<p class="mb-0 mt-1"><small class="text-muted font-italic"><strong>Old answer:</strong> {{ form.instance.text }}</small></p>{% endif %}
              </div>
              <div class="col-2 mt-4">
                {{ form.is_correct }}
              </div>
              <div class="col-2 mt-4">
                {% if form.instance.pk %}
                  {{ form.DELETE }}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p> <small class="form-text text-muted">𝑌𝑜𝑢𝑟 𝑞𝑢𝑒𝑠𝑡𝑖𝑜𝑛 𝑚𝑎𝑦 ℎ𝑎𝑣𝑒 𝑎𝑡 𝑙𝑒𝑎𝑠𝑡 <strong>2</strong> 𝑐ℎ𝑜𝑖𝑐𝑒𝑠 𝑎𝑛𝑑 𝑚𝑎𝑥𝑖𝑚𝑢𝑚 <strong>20</strong> 𝑐ℎ𝑜𝑖𝑐𝑒𝑠. 𝑆𝑒𝑙𝑒𝑐𝑡 𝑎𝑡 𝑙𝑒𝑎𝑠𝑡 𝑜𝑛𝑒 𝑐𝑜𝑟𝑟𝑒𝑐𝑡 𝑐ℎ𝑜𝑖𝑐𝑒.</small></p>
        <button type="submit" class="btn btn-success rounded-pill">Save changes</button>
    <a href="{% url 'teachers:quiz_change' quiz.pk %}" class="btn btn-secondary col-2 mx-auto rounded-pill" role="button">Back</a>
      </div>
    </div>
  </form>
{% endblock %}
