{% extends 'teachers/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
<div class="card mt-4">
  <h3 class="card-header text-center bg-secondary text-warning">𝑪𝒐𝒏𝒇𝒊𝒓𝒎 𝒕𝒐 𝒅𝒆𝒍𝒆𝒕𝒆</h3>
  <div class="card-body">
    <p class="card-text text-center"><h5>𝐴𝑟𝑒 𝑦𝑜𝑢 𝑠𝑢𝑟𝑒 𝑦𝑜𝑢 𝑤𝑎𝑛𝑡 𝑡𝑜 𝑑𝑒𝑙𝑒𝑡𝑒 𝑞𝑢𝑖𝑧 <strong>"{{ quiz.name }}"</strong> ❓ 𝑌𝑜𝑢 𝑐𝑎𝑛'𝑡 𝑡𝑎𝑘𝑒 𝑖𝑡 𝑏𝑎𝑐𝑘❗</h5></p>
    <form method="post" class="text-center">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger col-3 mx-auto btn-lg rounded-pill mt-2">Yes</button>
      <a href="{% url 'teachers:quiz_change' quiz.pk %}" class="btn btn-secondary col-3 mx-auto btn-lg rounded-pill mt-2" role="button">No</a>
    </form>
  </div>
</div>
  </div>
</div>
{% endblock %}
