{% extends 'teachers/base.html' %}

{% block content %}
  <div class="row">
      <div class="col-lg-9">
  <div class="card mt-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info text-center">
      <h5>{{ message }} </h5>
  </div> 
    {% endfor %}

{% endif %}
    <table class="table mb-0">
      <thead>
        <tr class="bg-secondary text-center">
          <th>Quiz</th>
          <th>Course</th>
          <th>Questions</th>
          <th>Taken</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr class="text-center">
            <td class="align-middle"><a href="{% url 'teachers:quiz_change' quiz.pk %}" style="text-decoration: none ;"><strong>{{ quiz.name }}</strong></a></td>
            <td class="align-middle">{{ quiz.course }}</td>
            <td class="align-middle">{{ quiz.questions_count }}</td>
            <td class="align-middle">{{ quiz.taken_count }}</td>
            <td class="text-right">
              <a href="{% url 'teachers:q_delete' quiz.pk %}" style="float: right; text-decoration: none ;" class="mt-2 ms-4 me-3">🗑️</a>
              <a href="{% url 'teachers:quiz_results' quiz.pk %}" class="mt-2 text-success" style="float: right; text-decoration: none ;"><strong>👁View results</strong></a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any quiz yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
      </div>
  </div>

{% endblock %}
