{% extends 'teachers/base.html' %}
{% block content %}
          <br>
          <div class="row">
            <div class="d-flex justify-content-center">
            <div class="col-lg-7 col-lg-offset-2">
                <div class="card ms-4">
                    <div class="card-header bg-secondary">
                        <h3 class="card-title text-light text-center">All Course</h3>
                    </div>
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th>Course</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for n in name %}
                          <tr>                       
                            <td  class="align-middle">{{ n.name }}</td>     
                          </tr>
                        {% empty %}
                          <tr>
                            <td class="bg-light text-center font-italic" colspan="5">No Available Course</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
          </div>
            <br><br><br><br>
       {% endblock %}