
{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="global-container bg-dark">
  <br><br><br>
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card bg-secondary">
        <div class="card-body">
      <h2 class="text-center text-light">🅻🅾🅶 🅸🅽</h2>
      <br>
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info text-center">
            <h5>{{ message }} </h5>
        </div> 
          {% endfor %}
    
      {% endif %}
          <div class="card-text text-center">
      <form method="post" novalidate="">
        {% csrf_token %}
        {{ form| crispy}}
         <!-- <div class="text-center rounded-pill">
          <div class="form-group">
            <input type="text" name="username" style="text-align: center;font-size:20px;" class="form-control form-control-sm rounded-pill " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="𝑈𝑠𝑒𝑟𝑛𝑎𝑚𝑒">
        </div>
        <div class="form-group mt-4">   
            <input type="password" name="password" style="text-align: center;font-size:20px;" class="form-control form-control-sm rounded-pill" id="exampleInputPassword1" placeholder="𝑃𝑎𝑠𝑠𝑤𝑜𝑟𝑑">
        </div>
      
      </div>  -->
      <div class="text-center mt-2">
        <a class="text-info" href="https://accounts.google.com/signin/v2/challenge/ipe?continue=https%3A%2F%2Fmyaccount.google.com%2Fsigninoptions%2Fpassword%3Fcontinue%3Dhttps%3A%2F%2Fmyaccount.google.com%2Fsecurity&service=accountsettings&osid=1&rart=ANgoxcf7l6Zzm1S9_nbYasXn9U_Fym_cxTs9A0G2uc-ZpRKAsXDi5TOXcXbMGXtuRVmlvIbSrUxCIg9vHFY5-5dPPDpoO7qlSw&TL=AM3QAYYiZ4iYO_Y6nneZSevwx5w_RWa04_tR22V_lChSXdCk5diQwy1SNi33ZS2C&flowName=GlifWebSignIn&cid=5&flowEntry=ServiceLogin&navigationDirection=forward" style="float:center;font-size:15px;" >𝐹𝑜𝑟𝑔𝑜𝑡 𝑃𝑎𝑠𝑠𝑤𝑜𝑟𝑑?</a>
        </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-success rounded-pill">𝑳𝒐𝒈 𝑰𝒏</button>
      </div>
      <div class="text-center mt-3">
        <i class="text-dark">𝑫𝒐𝒏❜𝒕 𝒉𝒂𝒗𝒆 𝒂𝒏 𝒂𝒄𝒄𝒐𝒖𝒏𝒕❓</i>
      </div>
        <div class="signup row justify-content-center">
          <a class="justify-content-center">
        <a href="{% url 'signup' %}" class="btn btn-link mr-5 text-info" >𝑆𝑖𝑔𝑛-𝑈𝑝</a>
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  <br><br>
  <p class="text-center text-secondary">code@GPG 2021</p>
  <br>
</div>
{% endblock %} 



