{% extends "base.html"%}

    {% block content %}


    <div class="global-container bg-dark">
        <div class=" row justify-content-center">
          <div class="col-6">
          <br><br><br><br><br>
        <div class="card text-center bg-transparent" style="width: 45rem;">
          <div class="card-body ">
            <h1 class="card-title text-light">𝑾𝒆 𝑯𝒂𝒗𝒆 𝑺𝒆𝒏𝒕 𝒂𝒏 𝑬𝒎𝒂𝒊𝒍 𝑻𝒐 𝒀𝒐𝒖</h1>
            <h4 class="card-text text-light">𝑃𝑙𝑒𝑎𝑠𝑒 𝑐ℎ𝑒𝑐𝑘 𝑦𝑜𝑢𝑟 𝑒𝑚𝑎𝑖𝑙 𝑓𝑜𝑟 𝑣𝑒𝑟𝑖𝑓𝑖𝑐𝑎𝑡𝑖𝑜𝑛.</h4>
            <div class="text-center mt-3 d-grid gap-2 col-6 mx-auto ">
              <a class="nav-link text-success active" href="https://mail.google.com/mail/u/id"><b><h3>𝐶𝑙𝑖𝑐𝑘 𝐻𝑒𝑟𝑒👎</h3></b></a>
              </div>
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br>
      <p class="text-center text-secondary">code@GPG 2021</p>
    
      </div>
      </div>



    {% endblock %}

  