{% extends 'students/base.html' %}

{% block content%}
{% load crispy_forms_tags %}
{% load bootstrap %}
<div class="row justify-content-center">
<div class="global-container">
    <div class="col-6">
      <div class="card ms-5">
        <div class="card-body">
      <h2 class="text-center">𝐂𝐡𝐚𝐧𝐠𝐞 𝐏𝐚𝐬𝐬𝐰𝐨𝐫𝐝</h2>
      <br>
          <div class="card-text text-center">
      <form method="post" novalidate="">
        {% csrf_token %}
        <!-- {{ form| bootstrap}} -->
        <div id="div_id_old_password" class="control-group">
           <label for="id_old_password" class="control-label requiredField">𝑶𝒍𝒅 𝑷𝒂𝒔𝒔𝒘𝒐𝒓𝒅<span class="asteriskField"></span> </label>
           <div class="controls"> 
             <input type="password" name="old_password" autocomplete="current-password" autofocus placeholder="𝐼𝑛𝑝𝑢𝑡 𝑜𝑙𝑑 𝑝𝑎𝑠𝑠𝑤𝑜𝑟𝑑" class="form-control form-control-sm rounded-pill" style="text-align: center;font-size:15px;" required id="id_old_password">
             </div>
            </div> 
            <div id="div_id_new_password1" class="control-group mt-3"> 
              <label for="id_new_password1" class="control-label requiredField">𝑵𝒆𝒘 𝑷𝒂𝒔𝒔𝒘𝒐𝒓𝒅<span class="asteriskField"></span> </label>
               <div class="controls">     
             <input type="password" name="new_password1" autocomplete="new-password" placeholder="𝐼𝑛𝑝𝑢𝑡 𝑛𝑒𝑤 𝑝𝑎𝑠𝑠𝑤𝑜𝑟𝑑" class="form-control form-control-sm rounded-pill" style="text-align: center;font-size:15px;" required id="id_new_password1">
             <p id="hint_id_new_password1" class="help-block text-danger"><ul><li>𝑌𝑜𝑢𝑟 𝑝𝑎𝑠𝑠𝑤𝑜𝑟𝑑 𝑐𝑎𝑛’𝑡 𝑏𝑒 𝑡𝑜𝑜 𝑠𝑖𝑚𝑖𝑙𝑎𝑟 𝑡𝑜 𝑦𝑜𝑢𝑟 𝑜𝑡ℎ𝑒𝑟 𝑝𝑒𝑟𝑠𝑜𝑛𝑎𝑙 𝑖𝑛𝑓𝑜𝑟𝑚𝑎𝑡𝑖𝑜𝑛.</li>
                    <li>𝑌𝑜𝑢𝑟 𝑝𝑎𝑠𝑠𝑤𝑜𝑟𝑑 𝑚𝑢𝑠𝑡 𝑐𝑜𝑛𝑡𝑎𝑖𝑛 𝑎𝑡 𝑙𝑒𝑎𝑠𝑡 8 𝑐ℎ𝑎𝑟𝑎𝑐𝑡𝑒𝑟𝑠.</li><li>𝑌𝑜𝑢𝑟 𝑝𝑎𝑠𝑠𝑤𝑜𝑟𝑑 𝑐𝑎𝑛’𝑡 𝑏𝑒 𝑎 𝑐𝑜𝑚𝑚𝑜𝑛𝑙𝑦 𝑢𝑠𝑒𝑑 𝑝𝑎𝑠𝑠𝑤𝑜𝑟𝑑.</li>
                    <li>𝑌𝑜𝑢𝑟 𝑝𝑎𝑠𝑠𝑤𝑜𝑟𝑑 𝑐𝑎𝑛’𝑡 𝑏𝑒 𝑒𝑛𝑡𝑖𝑟𝑒𝑙𝑦 𝑛𝑢𝑚𝑒𝑟𝑖𝑐.</li></ul>
                  </p> 
                  </div>
                 </div>
                  <div id="div_id_new_password2" class="control-group">
                     <label for="id_new_password2" class="control-label requiredField">𝑹𝒆-𝒆𝒏𝒕𝒆𝒓 𝒏𝒆𝒘 𝒑𝒂𝒔𝒔𝒘𝒐𝒓𝒅<span class="asteriskField"></span> </label>
                      <div class="controls">
                         <input type="password" name="new_password2" autocomplete="new-password" placeholder="𝑅𝑒-𝑒𝑛𝑡𝑒𝑟 𝑛𝑒𝑤 𝑝𝑎𝑠𝑠𝑤𝑜𝑟𝑑 𝑓𝑜𝑟 𝑐𝑜𝑛𝑓𝑖𝑟𝑚𝑎𝑡𝑖𝑜𝑛" class="form-control form-control-sm rounded-pill" style="text-align: center;font-size:15px;" required id="id_new_password2"> 
                        </div> 
                      </div>


<div class="text-center mt-3">
  <button type="submit" class="btn btn-success rounded-pill">𝑪𝒉𝒂𝒏𝒈𝒆 𝑷𝒂𝒔𝒔𝒘𝒐𝒓𝒅</button>
</div> 
      </form>
      </div>
    </div>
  </div>
  </div>
</div>
  </div> -->


{% endblock %}
   <!-- {{ form| crispy}}
      
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-success rounded-pill">Change Password</button>
      </div> -->