{% extends 'students/base.html' %}


  {% block content %}
  {% if messages %}
  {% for message in messages %}
  <div class="col-lg-8 mt-2">
    <div class="alert alert-info text-center">
      <h5>{{ message }} </h5>
    </div> 
  </div>
  {% endfor %}

{% endif %}
  <div class="col-lg-8">
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr class="bg-secondary">
          <th>Quiz</th>
          <th>Course</th>
          <th>Length</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle">{{ quiz.course.get_html_badge }}</td>
            <td class="align-middle">{{ quiz.questions_count }} questions</td>
            <td class="text-right">
              <a href="{% url 'students:take_quiz' quiz.pk %}" class="btn btn-primary">Start quiz</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4"><h5>𝑁𝑜 𝑎𝑣𝑎𝑖𝑙𝑎𝑏𝑙𝑒 𝑞𝑢𝑖𝑧 𝑟𝑖𝑔ℎ𝑡 𝑛𝑜𝑤.</h5></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
