{% extends 'students/base.html' %}
  {% block content %}
  <br><br>
  <div class="d-flex justify-content-center">
  <div class="col-lg-8">
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr class=" bg-secondary">
          <th>Quiz</th>
          <th>Subject</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_quiz in taken_quizzes %}
          <tr class="bg-info">
            <td>{{ taken_quiz.quiz.name }}</td>
            <td>{{ taken_quiz.quiz.course }}</td>
            <td>{{ taken_quiz.score }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">𝑌𝑜𝑢 ℎ𝑎𝑣𝑒𝑛'𝑡 𝑡𝑎𝑘𝑒 𝑎𝑛𝑦 𝑞𝑢𝑖𝑧 𝑦𝑒𝑡.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
