{% extends 'students/base.html' %}

{% load bootstrap %}

{% block content %}
<br><br>
      <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ progress }}"  aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%"></div>
      </div>
      <div class="ms-3">
      <h2 class="mb-3 text-light">Name : {{ quiz.name }}</h2>
      <p class="lead text-light">Question : {{ question.text }}</p>
      <form method="post" novalidate>
        {% csrf_token %} 
        <div class="text-light">    
        {{ form|bootstrap }}
      </div> 
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div> 
    <br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
