 {% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="global-container bg-dark">
  <br><br><br><br><br>
  <div class=" row justify-content-center">
    <div class="col-4">
    <br><br><br><br><br>

  <div class="card text-center bg-transparent" style="width: 30rem;">
    <div class="card-body ">
      <h1 class="card-title text-light">𝓛𝓮𝓽❜𝓼 𝓣𝓪𝓴𝓮 𝓐 𝓠𝓾𝓲𝔃</h1>
      <h5 class="card-text text-light">𝑁𝑜𝑤 𝑙𝑒𝑡'𝑠 𝑠𝑒𝑒 𝑤ℎ𝑎𝑡 𝑦𝑜𝑢 𝑔𝑜𝑡. 𝐺𝑜𝑜𝑑𝐿𝑢𝑐𝑘.</h5>
      <a href="{% url 'signup' %}" class="btn btn-success rounded-pill mt-4"><h4>𝑆𝑡𝑎𝑟𝑡 ➤</h4></a>
    </div>
  </div>
</div>
</div>
<br><br><br><br><br><br>
<p class="text-center text-secondary">code@GPG 2021</p>
<br>

</div>
</div>
{% endblock %} 

