{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}
<div class="global-container">
    <br><br><br><br>
    <div class=" row justify-content-center">
      <div class="col-4">
      <br><br><br><br>
    <div class="card text-center bg-transparent" style="width: 30rem;">
      <div class="card-body ">
        <h1 class="card-title text-light">Reset Password</h1>
        <form method="post" class="text-light fs-5">
            {% csrf_token %}
            {{ form | bootstrap }}
            <button type="submit" class="btn btn-primary btn-lg">submit</button>
            <a href="{% url 'login' %}" class="btn btn-secondary btn-lg">Back</a>
        </form>
      </div>
    </div>
  </div>
  </div>
  <br><br><br><br><br><br>
  <p class="text-center text-secondary">code@GPG 2021</p>
  </div>
  </div>
{% endblock %}