{% extends 'base.html' %}

{% block content %}
<div class="global-container bg-dark">
  <br><br><br><br><br>
  <div class=" row justify-content-center">
    <div class="col-4">
    <br><br>
  <div class="card text-center bg-transparent" style="width: 30rem;">
    <div class="card-body ">
      <h1 class="card-title text-light">Reset Password</h1>
      <h5 class="card-text text-light">We have sent you reset password link on your email. Please Check Your Email.</h5>
      <a href="https://mail.google.com/mail/u/id" class="btn btn-success rounded-pill mt-4"><h4>Go to mail</h4></a>
    </div>
  </div>
</div>
</div>
<br><br><br><br><br><br><br><br>
<p class="text-center text-secondary">code@GPG 2021</p>
</div>
</div>
{% endblock %} 

